@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}
  
.contenedor-pelicula {
    display: flex;
    flex-wrap: wrap; /*se aplica al contenedor para asegurarse de que las películas se envuelvan en múltiples líneas si el espacio horizontal disponible no es suficiente para mostrar todas las películas en una sola fila. */
    justify-content: center;
}
  
.pelicula {
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*se agrega un efecto sombra en los bordes del cuadro*/
    overflow: hidden; /*esta propiedad sirve para asegurarse de que cualquier contenido que sobresalga 
                        del contenedor (en este caso, la descripción de la película) no se muestre fuera 
                        de los límites del contenedor y se recorte de manera limpia y ordenada*/
}
  
.pelicula img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
  
.descripcion {
    padding: 10px;
}
  
.descripcion h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}
  
.descripcion p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
  
/* Media Queries */
@media (max-width: 768px) {
    .contenedor-pelicula {
      justify-content: space-around;
    }
    .pelicula {
      width: 45%;
    }
} /*
    -container: El valor de justify-content se cambia a space-around, lo que distribuye uniformemente el espacio 
    entre los elementos, creando un margen igual alrededor de las películas.
    -movie: El ancho de cada película se establece en el 45% del contenedor, lo que permite que se muestren dos películas por fila.
*/
  
@media (max-width: 480px) {
    .pelicula {
      width: 90%;
    }
    .descripcion {
      display: none;
    }
} /*
    -movie: El ancho de cada película se establece en el 90% del contenedor, lo que permite que se muestre una 
    sola película por fila para una mejor legibilidad en dispositivos móviles.
    -description: La descripción de la película se oculta estableciendo display: none;, lo que significa que 
    no se mostrará en dispositivos móviles para mantener un diseño más limpio y enfocado en la imagen de la película.
*/

/*
  @media en CSS se utiliza para aplicar estilos específicos a una página web según ciertas condiciones, 
  como el tipo de dispositivo, el tamaño de la pantalla, la orientación, etc. Es una forma de hacer que
   el diseño de tu página web sea más flexible y se adapte a diferentes contextos de visualización.
*/
  